 
 
 <div th:if="${msgSucesso} != null">
 <b  th:text="${msgSucesso}" style="color: blue;"></b>
  </div>
  
  <div th:if="${msgsucesso} != null">
 <b  th:text="${msgsucesso}" style="color: blue;"></b>
  </div>
  
   <div th:if="${msgUsuario} != null">
 <b  th:text="${msgUsuario}" style="color: blue;"></b>
  </div>
   
   <!-- Informa uma mensagem caso já existir usuário com mesmo email cadastrado no banco de dados  -->
   <div th:if="${msgErrorSalvar} != null">
 <b  th:text="${msgErrorSalvar}" style="color: red;"></b>
  </div>
  
   <!-- Informa uma mensagem caso  cadastro for realizado com sucesso no banco de dados  -->
   <div th:if="${msgCadastrado} != null">
 <b  th:text="${msgCadastrado}" style="color: blue;"></b>
  </div>
   
  
   <div th:if="${msgVisitante} != null">
 <b  th:text="${msgVisitante}" style="color: blue;"></b>
  </div>
  
  <div th:if="${msgErrorLogin} != null">
          <b  th:text="${msgErrorLogin}" style="color: rgb(255, 0, 0);"></b>
          <br/><br/>
       </div>